<%= stylesheet_link_tag "navbar.css" %>
<nav>
    <h2>
        SYSTEM WYMIANY ZDJĘĆ
    </h2>
    <% if Current.user %>
    <div class="navcolumn">
        <%= button_to "WYLOGUJ", destroy_path, method: :delete %>
        <div class="logininfo">zalogowany jako: &nbsp; <span><%= Current.user.email %><span></div>
    </div>
   <% end %>
</nav>
